section {
  padding-bottom: 20px;
}
img {
  width: 380px;
  display: block;
  margin: 0 auto;
}

h3,
#open-source,
.heading,
.current-high,
.current-low,
.details,
.temp,
.lowest {
  font-family: "Yeseva One", cursive;
}
a,
.units {
  color: #198754;
  background-color: transparent;
  text-decoration: none;
  font-size: 20px;
}
.city,
.outcome,
.day,
.name {
  font-family: "Nunito", sans-serif;
}
h3,
.heading,
.sun,
.current-high,
.current-low,
.details {
  text-align: center;
}
h3,
.heading,
.details,
.temp,
.lowest,
.sun,
.current-high,
.current-low,
.sunny,
.day,
.cloud-sun,
.cloud {
  color: #331832;
}
h3,
.temp {
  font-size: 25px;
}
.line,
.details {
  padding: 0 30%;
}
.sun,
.sunny,
.cloud-sun,
.cloud {
  width: 100%;
}
.sunny,
.cloud-sun,
.cloud {
  font-size: 15px;
}
.temp,
.day {
  text-align: right;
}
.lowest,
.icon {
  text-align: left;
}

.container {
  margin: 20px 0px 40px 0px;
}
.weather-app {
  background: #fdefd5;
  max-width: 900px;
}
.d-flex {
  padding: 40px 40px 0 40px;
}
.current {
  justify-content: end;
}
.btn-success {
  color: #198754;
  border-color: #198754;
  background-color: transparent;
}
.form-control {
  background-color: transparent;
}
.heading {
  font-size: 60px;
  position: relative;
  padding-top: 20px;
}
.heading-text {
  position: absolute;
  top: calc(50% - 60px);
  left: 0;
  text-align: center;
  width: 100%;
  background: transparent;
  margin-top: 25px;
}
.sun {
  font-size: 70px;
}
.current-high {
  font-size: 75px;
  padding-top: 20px;
  line-height: 1.2;
}
.details {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 20px;
}
.week {
  margin-bottom: 40px;
}
.daily {
  padding: 0 160px;
}
.lowest,
.name,
#open-source {
  font-size: 16px;
}
.bottom {
  padding: 0 10%;
}
#city {
  text-transform: uppercase;
}
#open-source {
  color: #198754;
  text-decoration: none;
}
